- if book.images.any?
  %img.cart-img-shadow.pull-left{src: icon_book_image(book)}
- else
  %img.cart-img-shadow.pull-left{src: "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ352GRUKdIFLP3va0Tj7QREidI4lwUABrtUJbQehqIL02O_blo", alt: "design-book"}